/*ALL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
div{
   border: 1px solid ;
   width: 100px;
   height: 100px;
   padding: 10px 5px;
   margin: 10px;
}*/
h1{text-shadow: 4px 1px 7px; 
    text-align: center; 
    padding: 50px;
    color: rgb(124, 225, 65);
} 
h2{
    color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
}
   
p{
    
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}